<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
{{!--       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> --}}
      <a class="navbar-brand" href="#">{{user.name}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/mentor">Mentors<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/mentor/account">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
	<h1 class="text-center"> Welcome {{ user.name }} </h1>
</div>

<div class="row">
    <div class="col-md-8 offset-2">
        <h2>My Info</h2>
        <p>Email: {{user.email}}</p>
        <p>Offering Students Help With:</p>
        <ul>
            {{#each user.subjects}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Willing to mentor: {{user.numCanMentor}}</p>
        <p>Availability: {{user.availability}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-2">
        <h2>My Info</h2>
        <p>Email: <input value="{{user.email}}"></input></p>

        <p>Offering Students Help With:</p>
        <ul>
            {{#each user.subjects}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Willing to mentor: {{user.numCanMentor}}</p>
        <p>Availability: {{user.availability}}</p>
    </div>
</div>